<div class="navbar bg-base-100 text-white">
  <div class="navbar-start">
    <%= link_to 'LineUp', root_path, class: "btn btn-ghost text-xl" %>
  </div>

  <div class="navbar-end">
    <ul class="menu menu-horizontal p-0">
      <% if user_signed_in? %>
        <% if current_user.routines.any? %>
          <li><%= link_to 'Routines', routines_path %></li>
          <li><%= link_to 'Generate a Routine', current_user_generate_routine_path %></li>
        <% else %>
          <li><%= link_to 'Generate a Routine', current_user_generate_routine_path %></li>
        <% end %>
        <li><%= link_to 'Browse Products', browse_products_path %></li>

        <li class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost rounded-btn">Menu</label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52" style="z-index: 1000;">
            <li><%= link_to 'About', '#' %></li>
            <li><%= link_to 'Contact', '#' %></li>
            <li><%= link_to "Edit #{current_user.username}", edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %></li>
          </ul>
        </li>
      <% else %>
        <li class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost rounded-btn">Menu</label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52" style="z-index: 1000;">
            <li><%= link_to 'About', '#' %></li>
            <li><%= link_to 'Contact', '#' %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
