<%# app/views/products/show.html.erb %>
<div class="min-h-screen bg-fixed bg-no-repeat bg-cover flex items-center justify-center" style="background-image: url(<%= asset_path('pastel-bathroom-tiles.jpg') %>);">
  <div class="container mx-auto px-4 mt-8 mb-8">
    <div class="card bg-base-100 shadow-xl mx-auto" style="max-width: 36rem;">
      <div class="card-body">
        <h2 class="card-title text-center text-white">Product: <%= @product.name %></h2>
        <%# Assuming you have an image for the product %>
        <% if @product.photo_url.present? %>
          <div class="flex justify-center mt-4">
            <%= image_tag(@product.photo_url, alt: @product.name, class: "max-w-xs") %>
          </div>
        <% end %>
        
        <!-- Display notice if present -->
        <% if notice.present? %>
          <p class="text-green-500 text-center"><%= notice %></p>
        <% end %>

        <div class="card-actions justify-center mt-4">
          <%= link_to "Back to products", products_path, class: "inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
        </div>
      </div>
    </div>
  </div>
</div>
