<%= form_with(model: routine_product) do |form| %>
  <% if routine_product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(routine_product.errors.count, "error") %> prohibited this routine_product from being saved:</h2>

      <ul>
        <% routine_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :routine_id, style: "display: block" %>
    <%= form.text_field :routine_id %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
