<!DOCTYPE html>
<html>
  <head>
    <title>LineUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "shared/cdn_assets" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render partial: "shared/navbar" %>

    <% if alert.present? %>
      <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
    <% end %>

    <%= render "shared/breadcrumbs" %>
    <%= yield %>

  </body>

  <%= render partial: "shared/footer" %>

</html>
